# DSET AVAILABLE ON ZENODO
dset
dset.zip
preprocessed_dset
preprocessed_dset.zip

# VIRTUAL ENVIRONMENT
__pycache__
**/__pycache__
CNN_EQML

# PIPELINE OUTPUTs (AVAILABLE IN .zip)
training/model_checkpoints/
explainability/samples/
explainability/shap_tensors/

# PLOTS
plots
plots.zip

# TRAINING LOGS
training/lightning_logs/